<div class="widget-wrap">
  <h3 class="widget-title">demo</h3>
  <div class="widget">
    <div><a class="tag-list-link" href="/blog/dynamic-form/">dynamic-form</a></div>
    <div><a class="tag-list-link" href="/blog/css-demo/">css-demo</a></div>
  </div>
</div>